#content {
    padding: 0 50px;
    padding-top: 125px;
    margin-bottom: 100px;
}

#content>h2 {
    font-size: 30px;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#photos>a>img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    cursor: zoom-in;
    transition: transform var(--theme-transition) ease-in-out;
}

#photos>a>img:hover {
    transform: scale(1.1);
}

.mfp-content {
    max-width: 90vw !important;
}